.header_content {
  color: rgba(0, 0, 0, 0.822);
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 15px;
  font-size: 1.2em;
  align-items: flex-start;
  align-content: center;
}
.logo_header {
  color: black;
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 1.2em;
}
.logo_header div:nth-child(1) {
  margin-right: 5px;
}
.header_content div:nth-child(1) {
  font-weight: 600;
}
.header_content div:nth-child(1) svg {
  margin-left: 10px;
}
.options {
  display: flex;
  flex-direction: row;
  /* width: 9vw; */
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.options svg {
  cursor: pointer;
}
.options svg:hover {
  color: #f05454;
}
.options .rod {
  background-color: rgba(0, 0, 0, 0.11);
  width: 1px;
  height: 64px;
  margin-right: 15px;
  margin-left: 15px;
}
